<!DOCTYPE html>
<html lang="bg">
<head>
  <title>Smart Plan</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<style>
.navbar {
overflow: hidden;
background-color: #1d59ba;
position: fixed;
top: 0;
width: 100%;

}




</style>

<body>
<nav class="navbar navbar-expand-sm bg navbar navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><font color = "#73c2fb">Smart</font><font color = "#EE82EE">Plan</font></a>
    </div>


    <ul class="nav navbar-nav">
      <li class="active"><a href="/"><font color = "#FFFFFF">Home</font></a></li>
      </ul>

      
    <ul class="nav navbar-nav navbar-right">
      <li><a href="login"><span class="glyphicon glyphicon-log-in"><font color = "FFFFFF"></span> Log in </a></font></li>
      <li><a href="register"><span class="glyphicon glyphicon-user"><font color = "FFFFFF"></span> Register </a></font></li>
    </ul>
  </div>
</nav>


<div class = "container-fluid text-center">
<div class = "row content">
<div class = "col-sm-2 sidenav">
</div>

<hr>
<div class = "container-fluid">
<img src = "goals.jpg" width = "80%" height = "80%" style = "margin:35px 70px">
</div>
</body>
</html>