<style>
    .navbar {
    overflow: hidden;
    background-color: #1d59ba;
    top: 0;
    width: 100%;
    
    }    
</style>
<nav class="navbar navbar-expand-sm bg navbar navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><font color = "#73c2fb">Smart</font><font color = "#EE82EE">Plan</font></a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/"><font color = "#FFFFFF">Home</font></a></li>
        </ul>
      </div>
</nav>